In [56]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
k_des = pd.read_csv('dataset-k-descriptions.csv')

In [90]:
des.head()

  Ticker_Bloomberg                                              value
0        005380 KS  Hyundai Motor Company manufactures, sells, and...
1        005490 KS  POSCO Holdings Inc. manufactures and distribut...
2        005830 KS  DB Insurance Co.,Ltd provides insurance servic...
3        005850 KS  SL Corp. designs and manufactures head lamps, ...
4        005930 KS  Samsung Electronics Co., Ltd. manufactures a w...

In [85]:
len(des)

3109

In [87]:
des['Ticker_Bloomberg'] = [x[:-7] for x in des['ticker']]

In [89]:
des = des[['Ticker_Bloomberg', 'value']]

In [82]:
des = pd.concat([k_des, r_des], ignore_index=True)

In [4]:
r_des = pd.read_csv('dataset-r-descriptions.csv')

In [5]:
k_gics = pd.read_csv('gics-k200.csv')

In [37]:
r_gics['Ticker_Bloomberg'] = [x[:-7] for x in r_gics['ticker']]

In [30]:
k_gics['Ticker_Bloomberg'] = k_gics['ticker']

In [38]:
r_gics

,ticker,GICS_SECTOR_NAME,GICS_INDUSTRY_GROUP_NAME,GICS_INDUSTRY_NAME,GICS_SUB_INDUSTRY_NAME,Ticker_Bloomberg
0,A UN Equity,Health Care,"Pharmaceuticals, Biotechnology",Life Sciences Tools & Services,Life Sciences Tools & Services,A UN
1,AA UN Equity,Materials,Materials,Metals & Mining,Aluminum,AA UN
2,AADI UR Equity,Health Care,"Pharmaceuticals, Biotechnology",Biotechnology,Biotechnology,AADI UR
3,AAL UW Equity,Industrials,Transportation,Passenger Airlines,Passenger Airlines,AAL UW
4,AAN UN Equity,Consumer Discretionary,Consumer Discretionary Distrib,Specialty Retail,Homefurnishing Retail,AAN UN
...,...,...,...,...,...,...
2904,ZTS UN Equity,Health Care,"Pharmaceuticals, Biotechnology",Pharmaceuticals,Pharmaceuticals,ZTS UN
2905,ZUMZ UW Equity,Consumer Discretionary,Consumer Discretionary Distrib,Specialty Retail,Apparel Retail,ZUMZ UW
2906,ZUO UN Equity,Information Technology,Software & Services,Software,Systems Software,ZUO UN
2907,ZWS UN Equity,Industrials,Capital Goods,Building Products,Building Products,ZWS UN
2908,ZYXI UW Equity,Health Care,Health Care Equipment & Servic,Health Care Equipment & Suppli,Health Care Equipment,ZYXI UW

In [7]:
r_gics = pd.read_csv('gics-r3000.csv')

In [8]:
k_sec = pd.read_csv('kospi200_sector.csv')

In [9]:
k_sec

,Ticker_Bloomberg,Ticker,Name,Sector,Industry
0,000080 KS,KP:000080,"HITEJINRO Co., Ltd",Consumer Staples,Beverages-Wineries & Distiller
1,000100 KS,KP:000100,Yuhan Corporation,Health Care,Drug Manufacturers-Specialty &
2,000120 KS,KP:000120,CJ Logistics Corporation,Industrials,NaN
3,000150 KS,KP:000150,Doosan Corporation,Industrials,NaN
4,000210 KS,KP:000210,"Daelim Industrial Co., Ltd",Industrials,NaN
...,...,...,...,...,...
195,375500 KS,KP:375500,Dl E&C Ltd,Industrials,Engineering & Construction
196,377300 KS,KP:377300,KakaoPay Corp,Financials,NaN
197,381970 KS,KP:381970,NaN,Consumer Discretionary,NaN
198,383220 KS,KP:383220,F&F Ltd,Consumer Discretionary,Apparel Manufacturing
199,402340 KS,KP:402340,SK SQUARE CO LTD,Information Technology,NaN

In [13]:
df = pd.read_csv('ticker_db_name.csv')

In [16]:
df = df.drop('Unnamed: 0', axis=1)

In [21]:
df['Ticker_Bloomberg'] = [x[:-3]+' '+x[-2:] for x in df['Ticker_DB']]

In [24]:
df = df[['Ticker', 'Ticker_Bloomberg', 'Ticker_DB', 'Name']]

In [45]:
df

      Ticker Ticker_Bloomberg  Ticker_DB                              Name
0     000080        000080 KS  000080_KS                HITEJINRO Co., Ltd
1     000100        000100 KS  000100_KS                 Yuhan Corporation
2     000120        000120 KS  000120_KS          CJ Logistics Corporation
3     000150        000150 KS  000150_KS                Doosan Corporation
4     000210        000210 KS  000210_KS        Daelim Industrial Co., Ltd
...      ...              ...        ...                               ...
3104    ZNTL          ZNTL UQ    ZNTL_UQ    Zentalis Pharmaceuticals, Inc.
3105    ZUMZ          ZUMZ UW    ZUMZ_UW                        Zumiez Inc
3106     ZUO           ZUO UN     ZUO_UN               Zuora, Inc. Class A
3107     ZWS           ZWS UN     ZWS_UN  Zurn Water Solutions Corporation
3108    ZYXI          ZYXI UW    ZYXI_UW                       Zynex, Inc.

[3109 rows x 4 columns]

In [46]:
k_gics

,ticker,GICS_SECTOR_NAME,GICS_INDUSTRY_GROUP_NAME,GICS_INDUSTRY_NAME,GICS_SUB_INDUSTRY_NAME,Ticker_Bloomberg
0,000080 KS,Consumer Staples,"Food, Beverage & Tobacco",Beverages,Distillers & Vintners,000080 KS
1,000100 KS,Health Care,"Pharmaceuticals, Biotechnology",Pharmaceuticals,Pharmaceuticals,000100 KS
2,000120 KS,Industrials,Transportation,Air Freight & Logistics,Air Freight & Logistics,000120 KS
3,000150 KS,Industrials,Capital Goods,Industrial Conglomerates,Industrial Conglomerates,000150 KS
4,000210 KS,Materials,Materials,Chemicals,Commodity Chemicals,000210 KS
...,...,...,...,...,...,...
195,375500 KS,Industrials,Capital Goods,Construction & Engineering,Construction & Engineering,375500 KS
196,377300 KS,Financials,Financial Services,Financial Services,Transaction & Payment Processi,377300 KS
197,381970 KS,Consumer Discretionary,Consumer Discretionary Distrib,Specialty Retail,Automotive Retail,381970 KS
198,383220 KS,Consumer Discretionary,Consumer Durables & Apparel,"Textiles, Apparel & Luxury Goo","Apparel, Accessories & Luxury",383220 KS
199,402340 KS,Industrials,Capital Goods,Industrial Conglomerates,Industrial Conglomerates,402340 KS

In [74]:
gics = pd.concat([k_gics, r_gics], ignore_index=True)
gics = gics.drop('ticker', axis=1)

In [68]:
df['Ticker_Bloomberg'] = [x.replace('_', '/') if '_' in x else x for x in df['Ticker_Bloomberg']]

In [67]:
len(aa)

12

In [50]:
gics['Ticker_Bloomberg'] =

,ticker,GICS_SECTOR_NAME,GICS_INDUSTRY_GROUP_NAME,GICS_INDUSTRY_NAME,GICS_SUB_INDUSTRY_NAME,Ticker_Bloomberg
0,000080 KS,Consumer Staples,"Food, Beverage & Tobacco",Beverages,Distillers & Vintners,000080 KS
1,000100 KS,Health Care,"Pharmaceuticals, Biotechnology",Pharmaceuticals,Pharmaceuticals,000100 KS
2,000120 KS,Industrials,Transportation,Air Freight & Logistics,Air Freight & Logistics,000120 KS
3,000150 KS,Industrials,Capital Goods,Industrial Conglomerates,Industrial Conglomerates,000150 KS
4,000210 KS,Materials,Materials,Chemicals,Commodity Chemicals,000210 KS
...,...,...,...,...,...,...
3104,ZTS UN Equity,Health Care,"Pharmaceuticals, Biotechnology",Pharmaceuticals,Pharmaceuticals,ZTS UN
3105,ZUMZ UW Equity,Consumer Discretionary,Consumer Discretionary Distrib,Specialty Retail,Apparel Retail,ZUMZ UW
3106,ZUO UN Equity,Information Technology,Software & Services,Software,Systems Software,ZUO UN
3107,ZWS UN Equity,Industrials,Capital Goods,Building Products,Building Products,ZWS UN
3108,ZYXI UW Equity,Health Care,Health Care Equipment & Servic,Health Care Equipment & Suppli,Health Care Equipment,ZYXI UW

In [93]:
df_total = pd.merge(df_total, des, on=['Ticker_Bloomberg'], how='outer')

In [97]:
df_total.head()

,Ticker,Bloomberg,MySQL,Name,Sector,Industry_Group,Industry,Sub_Industry,Description
0,000080,000080 KS,000080_KS,"HITEJINRO Co., Ltd",Consumer Staples,"Food, Beverage & Tobacco",Beverages,Distillers & Vintners,"Hite Jinro Co., Ltd. specializes in manufactur..."
1,000100,000100 KS,000100_KS,Yuhan Corporation,Health Care,"Pharmaceuticals, Biotechnology",Pharmaceuticals,Pharmaceuticals,Yuhan Corporation manufactures and markets var...
2,000120,000120 KS,000120_KS,CJ Logistics Corporation,Industrials,Transportation,Air Freight & Logistics,Air Freight & Logistics,CJ Logistics Corporation provides logistics se...
3,000150,000150 KS,000150_KS,Doosan Corporation,Industrials,Capital Goods,Industrial Conglomerates,Industrial Conglomerates,"Doosan Co., Ltd operates as a diversified manu..."
4,000210,000210 KS,000210_KS,"Daelim Industrial Co., Ltd",Materials,Materials,Chemicals,Commodity Chemicals,"DL Holdings Co., Ltd. provides civil engineeri..."

In [77]:
df_total.columns

Index(['Ticker', 'Ticker_Bloomberg', 'Ticker_DB', 'Name', 'GICS_SECTOR_NAME',
       'GICS_INDUSTRY_GROUP_NAME', 'GICS_INDUSTRY_NAME',
       'GICS_SUB_INDUSTRY_NAME'],
      dtype='object')

In [95]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3109 entries, 0 to 3108
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticker            3109 non-null   object
 1   Ticker_Bloomberg  3109 non-null   object
 2   MySQL             3109 non-null   object
 3   Name              3109 non-null   object
 4   Sector            3109 non-null   object
 5   Industry_Group    3109 non-null   object
 6   Industry          3109 non-null   object
 7   Sub_Industry      3109 non-null   object
 8   value             3109 non-null   object
dtypes: object(9)
memory usage: 242.9+ KB

In [96]:
df_total.columns = ['Ticker', 'Bloomberg', 'MySQL', 'Name', 'Sector',
       'Industry_Group', 'Industry', 'Sub_Industry', 'Description']

In [99]:
df_total.to_csv('(kospi+russell)_ticker_name_sector_description.csv', index=None)